
<h2 class="section-title" id="the-crew">The Crew</h2>

<ul class="team">
<% postlist = posts.posts %>
<% console.log(posts) %>

<% for( var p=0; p < postlist.length; p++ ){ %>
	<li class="member" member-id="<%= postlist.post_author %>">
		<div class="member-info">
			<img class="member-thumbnail" src="<%= postlist[p].image.thumb[0] %>">
			<ul class="member-contact moreinfo">
				<li class="info">
					<h3 class="member-name"><%= postlist[p].post_title %></h3>
					<h4 class="member-title"><%= postlist[p].member_title %></h4>
<!-- 					<h4 class="member-phone moreinfo"><%= postlist[p].member_phone %></h4> -->
				</li>
				<% if ( postlist[p].member_facebook != "" ) { %>
				<li class="facebook"><a href="http://facebook.com/<%= postlist[p].member_facebook %>">/<%= postlist[p].member_facebook %></a></li>
				<% } %>
				<% if ( postlist[p].member_twitter!= "" ) { %>
				<li class="twitter"><a href="http://twitter.com/<%= postlist[p].member_twitter %>">/<%= postlist[p].member_twitter %></a></li>
				<% } %>
				<% if ( postlist[p].member_linkedin!= "" ) { %>
				<li class="linkedin"><a href="http://linkedin.com/in/<%= postlist[p].member_linkedin %>">/<%= postlist[p].member_linkedin %></a></li>
				<% } %>
				<li class="instagram"></li>
			</ul>
		</div>
		<div class="member-bio">
			<p class="member-bio open"><%= postlist[p].post_excerpt %></p>
			<div class="member-contact open"><!-- TODO: add member contact --></div>
		</div>
<% } %>
</ul>
