
<h2 class="section-title" id="the-crew">The Crew</h2>

<ul class="team">
<% postlist = posts.posts %>
<% console.log(posts) %>

<% for( var p=0; p < postlist.length; p++ ){ %>
	<li class="member" member-id="<%= postlist[p].ID %>">
		<div class="member-info">
			<img class="member-thumbnail" src="<%= postlist[p].image.thumb[0] %>">
			<ul class="member-contact moreinfo">
				<li class="info">
					<h3 class="member-name"><%= postlist[p].post_title %></h3>
					<h4 class="member-title"><%= postlist[p].member_title %></h4>
<!-- 					<h4 class="member-phone moreinfo"><%= postlist[p].member_phone %></h4> -->
				</li>
				<% if ( postlist[p].member_facebook != "" ) { %>
				<li class="facebook"><a href="http://facebook.com/<%= postlist[p].member_facebook %>"></a></li>
				<% } %>
				<li class="mail"><a href="mailto:<%= postlist[p].member_email %>" alt="<%= postlist[p].member_email %>"></a></li>
				<li class="profile"><span></span></li>
			</ul>
		</div>
<% } %>
</ul>
<ul class="team-bios">
	<% for( var p=0; p < postlist.length; p++ ){ %>
		<li class="member-bio" member-id="<%= postlist[p].ID %>">
			<%= postlist[p].post_content %>
		</li>
	<% } %>
</ul>
