<header>
	<div class="site-navigation">
		<span class="site-logo"></span>
		<ul class="container">
		{% for item in menu.get_items %}
<<<<<<< HEAD
			<li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
	        </li>
		{% endfor %}
		</ul>
=======
			<li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="#{{ item.post_name}}">{{ item.title }}</a>
	        </li>
		{% endfor %}
		</ul>
		<div class="donation">
			{{ donate }}
		</div>
>>>>>>> a5a7d5d17b6055106c255470fac7130ecc413e0f
	</div>
</header>